body
{
    background-color: lightcyan;
    color: royalblue;
    text-decoration: none;
    font-family: sans-serif;
	text-align: center;
}
a
{
    text-decoration: none;
    color: tomato;
}

#imagen {
width:272px;
height:206px;
}

#imagen2 {
width:320px;
height:240px;
}